name: Sync Translation Files

on:
  workflow_dispatch:

jobs:
  sync-files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install jq
      run: sudo apt-get install jq

    - name: Read en.json
      id: read-en
      run: |
        echo "::set-output name=content::$(cat test/lang/en.json | jq -c .)"
    
    - name: Write to ru.json
      run: |
        echo ${{ steps.read-en.outputs.content }} > test/lang/ru.json

    - name: Commit and Push Changes
      run: |
        git add test/lang/ru.json
        git commit -m "Sync translation files [skip ci]"
        git push
