name: Sync en.json with ru.json

on:
  push:
    paths:
      - 'lang/en.json'

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Fetch en.json and ru.json
        run: |
          curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
               -H "Accept: application/vnd.github.v3.raw" \
               -o en.json \
               -L https://api.github.com/repos/Tuc-tac/test/contents/lang/en.json
          curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
               -H "Accept: application/vnd.github.v3.raw" \
               -o ru.json \
               -L https://api.github.com/repos/Tuc-tac/test/contents/lang/ru.json

      - name: Compare en.json and ru.json
        run: python compare_json.py

      - name: Commit and push changes to ru.json if needed
        run: |

          if [[ -n $(git status --porcelain) ]]; then
            git add ru.json
            git commit -m "Sync ru.json with en.json"
            git push --set-upstream origin ${{ github.ref }}
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
